/*start of navigation bar css*/
.NavLinksul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0025b8;
    font-family: sans-serif;
  }
  
  .NavLinksli {
    float: left;
  }
  
  .NavLinksa {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .NavLinksa:hover {
    background-color: #0099b8;
  }
  /*End of navigation bar css*/

  /*main subheading of the page*/
  h1{
    background: aqua;
    color: #0025b8;
    font-family: sans-serif;
    border-radius: 10px;
  }

  .mainPage{
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
  }

  .resourcesContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 10px;
    padding: 5%;
    border: 2px solid black;
    text-align: center;
    justify-content: space-evenly;
  }

  .resourcesContainer > div{
   margin: 5%;
    padding: 2%;
    border: 4px solid black;
    font-family: sans-serif;
  }