h1{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

/* all form options*/
form{
  text-align: center;
}

/*Input box for journal entries*/
.journalinput{
  
  justify-content: center;
  text-align: center;
  width: 80%;
  height: 500px;
}

/* start of css for the Navigation Bar*/
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0025b8;
  font-family: sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0099b8;
}
/*End of css for the navigation bar*/


/*mood tracker buttons*/
.MoodTracker{
  
  display: flex;
  justify-content: center;
  gap: 5%;
  
}

p{
  display: flex;
  justify-content: center;
  font-size: 130%;
  font-family: sans-serif;
  font-weight: bold;
}

/*image of emotion range for mood tracker*/
.emotionrange{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%
}

/*button for both mood tracker options and saving journal inputs*/
.button{
  display: flex;
  background-color: #00B89A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}