/*start of navigation bar css*/
.NavLinksul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0025b8;
    font-family: sans-serif;
  }
  
  .NavLinksli {
    float: left;
  }
  
  .NavLinksa {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .NavLinksa:hover {
    background-color: #0099b8;
  }
  /*End of navigation bar css*/

  /*main subheading of the page*/
  h1{
    background: aqua;
    color: white;
    font-family: sans-serif;
  }

  .resourceimages{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    text-align: center;
  }  

  .ResourceLinksUL{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    text-align: center;
  }


  .resourceDescription{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    text-align: center;
  }