
body{
  background-color: #e6f2ff
}
/*start of navigation bar css*/
.NavLinksul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6f2ff;
  font-family: 'Comic Sans MS', sans-serif;
}

.NavLinksli {
  float: left;
}

.NavLinksa {
  display: block;
  color: #0025b8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.NavLinksa:hover {
  background-color: #0099b8;
}
/*End of navigation bar css*/

  .title{
    color: #0025b8;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
  }

  .ResourceLinksUL{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
  }

  .optionsContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 10px;
    padding: 5%;
    border: 2px solid #8ebfef;
    text-align: center;
    justify-content: space-evenly;
  }

  .optionsContainer > div{
    margin: 5%;
    padding: 2%;
    border: 4px solid #8ebfef;
    border-radius: 20%;
    font-family: 'Comic Sans MS', sans-serif;

  }

  